/* Basics */
.logo{
 display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
	background-color: white;
}
.logo img {
    width: 100px; /* ajuste conforme necessário */
    height: auto;
}
.icon{
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Lato', sans-serif;
	line-height: 1;
}

body {
	background-color: #F5F6F8;
	overflow: hidden;
}

.sidebar-navigation {
	margin-top: 50px;
	display: inline-block;
	min-height: 100vh;
	width: 60px;
	background-color: #7141bb;
	float: none;
	
	ul {
		text-align: center;
		color: white;
		
		li {
			padding: 28px 0;
			cursor: pointer;
			transition: all ease-out 120ms;
			
			i {
				display: block;
				font-size: 24px;
				transition: all ease 450ms;
			}
			
			.tooltip {
				display: inline-block;
				position: absolute;
				background-color: #7141bb;
				padding: 8px 15px;
				border-radius: 3px;
				margin-top: -26px;
				left: 90px;
				opacity: 0;
				visibility: hidden;
				font-size: 13px;
				letter-spacing: .5px;
				
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -4px;
					top: 10px;
					transform: rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: inherit;
				}
			}
			
			&:hover {
				background-color: #331761;
				
				.tooltip {
					visibility: visible;
					opacity: 1;
				}
			}
			
			&.active {
				background-color: #331761;
				
				i {
					color: #98D7EC;
				}
			}
		}
	}
}